[Unit]
Description=Move large profile files off home directory

[Service]
Type=oneshot
ExecStart=/bin/sh -c '~/.local/share/profdiv.sh'

[Install]
WantedBy=default.target
